.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #333333;
    color: #ffffff;
    gap: 2rem;
  }
  

  .footer img {
    width: 100%;
    max-width: 300px;
    object-fit: contain;
    display: block;
    margin-bottom: auto;
    margin-top: auto;
    height:5rem;
  }
  
  
  /* Navigation block */
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .footer-nav h1 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer-nav a{
    text-decoration: none;
    color: inherit;
  }
  
  .footer-nav li {
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  
  /* Contact block */
  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .footer-contact h1 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  /* Social Media block */
  .footer-social-media {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .footer-social-media h1 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .footer-social-media aside {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .footer-social-media img {
    width: 30px;
    height: 30px;
    object-fit: contain;
     /*   filter: brightness(0) invert(1);*/     /* makes logos white for dark bg */
    transition: transform 0.3s ease;
  }
  
  .footer-social-media img:hover {
    transform: scale(1.1);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer > img {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
    }
  
    .footer-social-media aside {
      justify-content: flex-start;
    }
  }
  